/* copypasta of preset propreties */
/* it's my own btw 😎 */
*, *::before, *::after{
    box-sizing: border-box;
}

html{
  font-size: 62.5%; /* 1rem = 10px */
}
  
*{
  margin: 0;
  padding: 0;
  font: inherit; /*to get rid of default font sizes / weights*/
}
  
body{
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;

  min-height: 100vh;
}
  
a{ /* to avoid the default link styling every time */
  text-decoration: none;
  color: inherit;
}
  
img, picture, svg, video{
  display: block;
  max-width: 100%;
}

/* -------------------- */
/* actual styling */

/* not using bootstrap, just using some screenshot to text websites to do the css because I'm here for the API part */

body{
  background: #222;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
    border: 0; outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}